
.pic {
display: flex;
justify-content: center;
align-items: center;
position: relative;
text-align: center;
background:rgb(135, 219, 222);
   


}
.container {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%,50%);
    background: rgb(135, 219, 222);
   
   

}
img{
   /* width: 50%;
    height: auto;
   */
}

.input-style
{
   
    display: block;
    width: 285px;
    margin-left: auto;
    margin-right:auto ;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
   
}
.btn1{
    margin-left: 20px;
    border-radius: 5px;
    font-weight:bold ;
    padding: 8px;
    font-size: 14px;

   
}
.btn2{
    border-radius: 5px;
    margin-left: 20px;
    padding: 8px;
    font-weight: bold;
    font-size: 14px;


}
