body{
     
    justify-content: center;
    padding: 10px;
    background: linear-gradient(lightskyblue,pink);
    border-radius: 10px;
    border: solid paleturquoise 10px;
}

.H_bg{
    width: 800px;
    height: 300px;
    background-image: url(img/myhome.jpg);
    background-size:cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin :auto;
}
.title{
   
    color:aqua;
    margin:20px;
    font-family:  Geneva, Verdana, sans-serif;
}
.description{
    color:lightskyblue;
    margin:20px;
    font-family:  Geneva, Verdana, sans-serif;
    text-align: center;
}
.img1{
    width :150px;
    height: 150px;
    border-radius: 100%;
    border: solid 5px lightskyblue;
}
.img2{
     width :150px;
     height: 150px;
    border-radius: 100%;
    border: solid 5px lightskyblue;
}
.img3{
     width :150px;
     height: 150px;
    border-radius: 100%;
    border: solid 5px lightskyblue;

}

.ticho{
width: 100px;
margin:auto;
display: flex;
align-items: center;
justify-content:center;
column-gap: 150px;

    
}

#img_title{
    
    text-align: center;
    display: flex;
    justify-content: center;


}
.headers{
     display: flex;
    text-align: center;
    justify-content: center;
    column-gap: 150px;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    column-gap: 100px;

}