body{
    background:linear-gradient(aqua lightskyblue)
}
.collection{
    padding: 10px;
    background: linear-gradient(lightskyblue,pink);
    width: 900px;
    border-radius: 20px;
    margin: 2px 0 0 180px;
    align-items: center;
    justify-content: center;

}

.H_bg{
    width: 800px;
    height: 300px;
    background-image: url(img/myhome.jpg);
    background-size:cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin :auto;
}
.title{
   
    color:aqua;
    margin:20px;
    font-family:  Geneva, Verdana, sans-serif;
}
.description{
    color:white
    margin:20px;
    font-family:  Geneva, Verdana, sans-serif;
    text-align: center;
}
.img1{
    width :150px;
    height: 150px;
    border-radius: 100%;
    border: solid 5px lightskyblue;
}
.img2{
     width :150px;
     height: 150px;
    border-radius: 100%;
    border: solid 5px lightskyblue;
}
.img3{
     width :150px;
     height: 150px;
    border-radius: 100%;
    border: solid 5px lightskyblue;

}

.ticho{
width: 100px;
margin:auto;
display: flex;
align-items: center;
justify-content:center;
column-gap: 150px;

    
}

#img_title{
    
    text-align: center;
    display: flex;
    justify-content: center;


}
.headers{
     display: flex;
    text-align: center;
    justify-content: center;
    column-gap: 150px;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    column-gap: 100px;

}
.Info{
    display:flex;
    align-items: center;
    justify-content: center;
     margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: rgb(143, 202, 199);
    width: 600px;
    height: 400px;
    border-radius: 10px;
    border-bottom: 10px solid blanchedalmond;
}
#control{
    width: 300px;
    height: 400px;
    padding: 10px;
}
.guid{
    margin-left: 20px;
}
.exp{
margin-left:10px
}