.red{
    border-radius: 100%;
    background: rgb(174, 10, 10);
    height: 150px;
    width: 150px;
    margin: 40px auto ;
}
.title{
    margin-left :auto;
    margin-right: auto;
    width: 50px;
}
.background{
    background-image: url("img/Univers.jpg");
    color:white;
    width: 500px;
    height: 400Px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
   
.btn{
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 204, 255);
    
}  
.title_center{
   margin-top: px;
   font-family: inherit;
}
