.red{
    border-radius: 100%;
    background: rgb(174, 10, 10);
    height: 150px;
    width: 150px;
    margin: 40px auto ;
}
.title{
    margin-left :auto;
    margin-right: auto;
    width: 50px;
}
.background{
    background-image: url("img/Univers.jpg");
    color:white;
    width: 500px;
    height: 400Px;
    margin-left: auto;
    margin-right: auto;
}