.red{
    border-radius: 100%;
    background: rgb(174, 10, 10);
    height: 150px;
    width: 150px;
    margin: 40px auto ;
}
.title{
    margin-left :auto;
    margin-right: auto;
    width: 50px;
}
.cls{
 border-bottom: 5px solid white;
}
.background{
    background-image: url("img/galaxy.webp");
    background-size: cover;
    color:#82a5ca;
    width: 900px;
    height: 500Px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
   
.btn{
    padding: 6px 12px;
    background-color: white;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    font-family: inherit;
    
}  
.title_center{
   margin-top: px;
   font-family: 'Orbitron','sans-serif';
   font-size: 50px;
   text-shadow: 5px 0 rgb(227, 234, 238);
}
.main_logo{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 180px;

   /* mix-blend-mode: screen; -->it used to remove blackbackground color of image
   mix-blend-mode: multiply;..> it used to remove white background of image color*/
   
   
   
    
   
   
}