body{
    margin:20px;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.manages {
    padding: 10px;
    background:#ddebf8;
    display: flex;
    height: 170px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    justify-content:space-around;
    border-bottom: 6px solid rgb(212, 153, 232);

    

}
.avater{
    width: 150px;
    height: 150px;
    margin-left: 5px;
    padding: 10px;
}
.name{
    margin-left: 10px;
}   
.city{
    margin-left: 70px;
   
}
.skilled{
    margin-left: 15px;
   
}
/*
.border_blue{
   border: 1px solid blue;
   padding: 10px;
  
}
*/
