body{
    text-align: center;
    font-family: 'Tangerine', serif;
    font-size: 30px;
    color :white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(#a2d2ff,pink)
}
#bff{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 6px solid pink;
    
header{
    text-shadow: 4px,0#a2d2ff;
    display:flex;
   
    
}
#byears{
   background: pink;
   margin:2px;
   padding: 10px;
   border-radius: 5px;
   width:500px;
   margin-left:100px;
   text-align: center;
}
  
}
#bdate{
    width:300px;
    background: pink;
    border-radius: 5px;
    margin-left: 200px; 
    margin-top :5px;
    text-align: center;
}
.gift_card{
    margin-top: 50px;
}
.gift-image{
    margin: 0 auto;
    width: 600px;
    height: 380px;
    border:6px solid white;
    border-radius: 10px;
    background-image: url(img/images.jpg);
    background-size: cover;
}
.gift_title{
    margin-top: 10px;
}
.gift-hint{
    
    margin-top: 0px;
}
.gift-image:hover{
    background-image: url(img/giphy.webp);
    height: 900px;
    width: 950px;
}
.gift-images{
     background-size: cover;
    background-image: url(img/images.jpg);
    border-radius: 5px ;
    border: 6px solid white;
    width: 600px;
    height: 380px;
    
}
.gift-images:hover{
    width: 800px;
    background-image: url(img/giphies.webp);
}
.smart{
    background-size: cover;
    background-image: url(img/images.jpg);
    border-radius: 5px ;
    border: 6px solid white;
    width: 600px;
    height: 380px;
    

}
.smart:hover{
     width: 800px;
    background-image: url(img/smart.webp);
    height: 500px;
}
.poo{
    background-size: cover;
    background-image: url(img/images.jpg);
    border-radius: 5px ;
    border: 6px solid white;
    width: 600px;
    height: 380px;

}
.poo:hover{
     width: 800px;
     height: 800px;
    background-image: url(img/poo.webp);
}
.cheers{
    background-size: cover;
    background-image: url(img/images.jpg);
    border-radius: 5px ;
    border: 6px solid white;
    width: 600px;
    height: 380px;
}
.cheers:hover{
     width: 800px;
     height: 400px;
    background-image: url(img/cheers.webp); 
    


}
.image_group {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 50px auto;
  cursor: pointer;
}

/* Base style for all images */
.image_group img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.4s ease, opacity 0.4s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* The Main Background (Top Layer) */
.main-img {
  z-index: 3;
}

/* --- THE HOVER REVEAL --- */

/* Slide the first hidden image to the left */
.image_group:hover .layer-1 {
  transform: translate(-105%, -105%) rotate(-10deg);
  
}

/* Slide the second hidden image to the right */
.image_group:hover .layer-2 {
  transform: translate(105%, -105%) rotate(10deg);
  
}
.image_group:hover .layer-3 {
  transform: translate(-105%, 105%) rotate(-10deg);

}
.image_group:hover .layer-4 {
  transform: translate(105%, 105%) rotate(10deg);
  
}

/* Optional: Make the main image slightly bigger on hover */
.image_group:hover .main-img {
  transform: scale(1.05);
}
